@charset "UTF-8";

@media print {
    body{
        background-image: url(imgs/back-print.jpg); /*inutil p/ impressora*/
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    body::after{
        content: 'Essa impressão foi feita através do site: www.seila.com';
        text-decoration: overline;
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: block; 
    margin: auto;}
    #pc { display: none; }
    #tv { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(imgs/back-tablet.jpg);
        background-size: cover;
        background-position: center center;
    }
    #phone { display: none; }
    #tablet { display: block; 
    margin: auto;}
    #print { display: none; }
    #pc { display: none; }
    #tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(imgs/back-pc.jpg);
        background-size: cover;
        background-position: center center;
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: block; 
    margin: auto;}
    #tv { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(imgs/back-tv.jpg);
        background-size: cover;
        background-position: center center;
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: block; 
    margin: auto;}
}
